[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
doxyparser = {editable = true, path = "."}
pylint = "*"
pytest = "*"
autopep8 = "*"
pyyaml = "*"
toml = "*"
pytest-cov = "*"
xmlformatter = "*"

[requires]
python_version = "3.9"

[packages]
xmltodict = "*"
lxml = "*"
xmlschema = "*"
pyinputplus = "*"
inflect = "*"
modutil = "*"
doxyparser = {editable = true, path = "."}
